.config/*

!.config/Code
.config/Code/*
!.config/Code/User
!.config/Code/User

!.config/kitty
!.config/sway
!.config/waybar
!.config/swaylock
!.config/fuzzel
!.config/clipse
!.config/mako

!.config/copyq
.config/copyq/*
!.config/copyq/copyq.conf

src/*

!src/README.md
!src/setup.sh
!src/patches/